.page-list {
  .page-list-item {
    display: none;
    &.active {
      display: block;
    }
    .main-page-section {
      .section-title {
        width: 100%;
        height: 36px;
        line-height: 36px;
        margin-bottom: 33px;
        font-size: 36px;
        text-align: center;
        font-weight: bold;
      }
      .section-subtitle {
        height: 18px;
        line-height: 18px;
        font-size: 18px;
        text-align: center;
        color: #808080;
      }
    }
  }
}
